@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    /* Prevent bouncing on mobile */
    overscroll-behavior-y: none;
    min-height: max(884px, 100dvh);
    background-image: radial-gradient(#262626 1px, transparent 1px);
    background-size: 24px 24px;
    @apply bg-background-dark text-white;
}

/* Hide scrollbar utility */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Ensure material icons render correctly */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.material-symbols-outlined.filled {
    font-variation-settings: 'FILL' 1;
}

.material-symbols-outlined.fill-1 {
    font-variation-settings: 'FILL' 1;
}